* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--color);
  background-color: var(--bg);
}
:root {
  --header-color: #000080;
  --firist-color: #808080;
  --seconed-color: #666643;
  --third-color: #ffffff;
  --forth-color: #556b2f;
  --fifth-color: #8b4513;
  --sixth-color: #800080;
  --seventh-color: #add8e6;
}

/* Header */
header {
  background-color: var(--header-color);
  width: 100%;
  position: fixed;

  z-index: 99999999;
}

/* logo style  */
.logo {
  width: 50px;
}
.logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* navbar styling */
.navbar {
  display: flex;
  padding: 10px 20px;
  justify-content: space-evenly;
  align-items: center;
}

.hamburger-menu {
  cursor: pointer;
  color: var(--third-color);
  font-size: 20px;
}

.nav-menu {
  position: absolute;
  width: 100%;
  top: 73px;
  left: 0px;
  background-color: var(--header-color);
}
.nav-menu a {
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  color: var(--third-color);
  font-size: 20px;
  transition: 0.3s all;
}
.nav-menu a:hover {
  color: var(--forth-color);
}

.hide {
  display: none;
}

/* ---------------------------------------------------------------- */
/* Start main  */

main {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  position: relative;
  width: 100%;

  overflow: hidden;
}

.sliderBox {
  width: 100%;
}

.numbers {
  position: absolute;
  background: var(--sixth-color);
  height: 50px;
  width: 150px;
  z-index: 200;
  bottom: 60px;
  left: 20px;
  color: var(--seventh-color);
  font-weight: bold;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.numbers span {
  margin: auto;
  display: flex;
  align-items: center;
}

.gradient {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background: radial-gradient(
      ellipse at center,
      rgb(121 149 64 / 50%) 0%,
      rgb(32 42 67 / 45%) -9%,
      rgb(94 101 114 / 52%) 90%
    )
    46% 25% no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

@keyframes slideAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
  }
}
.mySlide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  animation: slideAnimation 3s ease-out infinite;
  -webkit-animation: slideAnimation 3s ease-out infinite;
}

.heading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  top: 45%;
  z-index: 777;
}

.heading h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  font-size: 60px;
  text-shadow: 2px 2px 4px rgba(150, 136, 161, 0.5);
}

@keyframes moveLetters {
  0% {
    transform: translateY(10px);
    color: var(--third-color);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  20% {
    transform: translateY(-10px);
    color: #5a5869c9;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  40% {
    transform: translateY(10px);
    color: var(--sixth-color);
  }
  60% {
    transform: translateY(-10px);
    color: var(--forth-color);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
  80% {
    transform: translateY(10px);
    color: var(--seconed-color);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
    color: var(--fifth-color);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
  }
}

.heading h1 span {
  display: inline-block;
  animation: moveLetters 6s ease infinite alternate;
}

.heading button a {
  text-decoration: none;
  color: var(--third-color);
  transition: 0.3s all;
}

.heading .btn-0 {
  display: flex;
  gap: 20px;
}
.heading button {
  padding: 13px 25px;
  background-color: var(--seventh-color);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s all;
  cursor: pointer;
}

.heading button:hover {
  background-color: var(--firist-color);
}
/* End main  */

/* --------------------------------------------- */

/* Start Services */

.Services {
  padding: 50px 0;

  background-color: var(--seconed-color);
  width: 100%;
}
.Services .image img {
  width: 100%;
  height: 100;
  object-fit: cover;
}

.title h1 {
  font-size: 40px;
  margin-bottom: 20px;
  text-align: center;
  color: var(--third-color);
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}

.text {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Arial", sans-serif;
  font-weight: 700;
  color: var(--third-color);
  line-height: 1.6;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s forwards;
  animation-delay: 0.5s;
  text-align: center;
}

.text p {
  margin-bottom: 10px;
}

.text p:first-child {
  font-size: 1.5em;
  font-weight: bold;
}

.text p:last-child {
  font-style: italic;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.Services hr {
  width: 300px;
  text-align: center;

  margin: 52px auto;
}

.page-gellery {
  width: 100%;
  padding: 40px;
  margin-top: 60px;
}

.page-gellery .title h1 {
  text-align: center;
  color: var(--third-color);
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
.page-gellery .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  padding-top: 100px;
}

.cards .card {
  max-width: 400px;
  background-color: var(--firist-color);
  padding: 50px;
  border-radius: 20px;

  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  margin: 90px;

  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.cards .card.visible {
  opacity: 1;
  transform: translateY(0);
}

.card img {
  border-radius: 15px;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;

  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card img:hover {
  transform: scale(1.2);
  transition: transform 0.3s;
  cursor: pointer;
}
.cards .card h1 {
  text-align: center;
  padding: 20px;
  font-size: 22px; /* Adjust font size for emphasis */
  color: var(--seventh-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}

.cards .card p {
  text-align: center;
  color: var(--third-color);
  font-size: 18px; /* Adjust font size for better readability */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5; /* Increase line height for better spacing */
  width: 300px;
}

.card button {
  padding: 20px;
  background-color: var(--sixth-color);
  color: var(--third-color);
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
}

.card button:hover {
  color: var(--seconed-color);
  background-color: var(--third-color);
}
/* End Service */

/* ================================================ */

/* Start About */

.about {
  width: 100%;
  padding: 40px;
  background-color: var(--sixth-color);
}

.about h1 {
  font-size: 40px;
  text-align: center;
  color: var(--third-color);
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}

.about .perent {
  display: flex;

  align-items: center;

  margin: 50px;
}
.about .image {
  width: 500px;
  opacity: 0;

  transform: translateX(-100px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.about .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.about .image.visible {
  opacity: 1;
  transform: translateX(0);
}
.about .text {
  color: var(--seventh-color);
}
.about .text p {
  font-size: 29px;
}

/* Start Contact */

.Contact {
  padding: 40px;
  background-color: var(--forth-color);
}

.Contact h1 {
  font-size: 40px;
  text-align: center;
  color: var(--third-color);
  font-family: "Courier New", Courier, monospace;
  font-weight: 800;
}

.Contact .content {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 20px;
}
.content .social {
  color: var(--third-color);
  font-size: 30px;
  cursor: pointer;
}

.content .social i {
  padding: 10px;
  color: var(--third-color);
  transition: 0.3s all, transform 0.3s, background-color 0.3s;
}

.content .social :hover {
  transform: translateY(-10px);
  color: var(--firist-color);
}

.content .copy p {
  color: var(--seventh-color);
  font-size: 20px;
}

/* End footer */
